body {
  margin: 0; /* Rimuovi il margine */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6DD5FA, #2980B9);
  color: white;
  height: 100vh; /* Assicurati che il body occupi tutta l'altezza della finestra */
}

.container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #e67e22;
  transform: scale(1.25);
}

.phrase {
  margin-top: 20px;
  font-size: 1em;
  animation: fadeIn 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
